###
# Optional Terraform configs
export TF_LOG=DEBUG

# Recommended if using the 'hypercore_disk' or 'hypercore_nic' resources
# export TF_CLI_ARGS_apply="-parallelism=1"

###
# Hypercore provider configs
export HC_HOST=https://hypercore-host-uri
export HC_USERNAME=hypercore-username
export HC_PASSWORD=hypercore-password

# optionals
export HC_AUTH_METHOD=local
export HC_TIMEOUT=60.0
export HC_VM_SHUTDOWN_TIMEOUT=300
